[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.2"
Pillow = "*"
django-password-reset = "*"
python-decouple = "*"
django-htmx = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
mixer = "*"

[dev-packages]

[requires]
python_version = "3.8"
