{% extends 'base.html' %}

{% block content %}

<div class="container max-w-[80%] my-10">

  <div id="loginForm" class="max-w-md mx-auto overflow-hidden text-gray-800 bg-white rounded-lg shadow-md">

    <div class="py-5 ml-6 text-2xl font-semibold">

      <h2>Sign in</h2>

    </div>

    {% if form.non_field_errors %}

    <div class="max-w-sm px-6 -mt-3 text-xs text-red-700">{{form.non_field_errors}}</div>
    
    {% endif %}
    <form action="{% url 'accounts:login' %}" method="post">
      {% csrf_token %}
      <div class="flex items-center py-3 ml-6">
        <label class="block" for="text">Username</label>
      </div>
      {% if form.errors.username %}
      <div class="mb-1 ml-6 -mt-3 text-xs text-red-700">
        {{form.errors.username}}
      </div>
      {% endif %}
      <div class="flex items-center justify-center">
        <input
          class="w-full mx-6 text-sm rounded-lg focus:ring-0 focus:border-purple-600 hover:ring-1 hover:ring-purple-600"
          type="text"
          name="username"
          placeholder="username"
        />
      </div>
      <div class="py-3 ml-6">
        <label class="block" for="text">Password</label>
      </div>
      {% if form.errors.password %}
      <div class="mb-1 ml-6 -mt-3 text-xs text-red-700">
        {{form.errors.password}}
      </div>
      {% endif %}
      <div class="flex items-center justify-center">
        <input
          class="w-full mx-6 text-sm rounded-lg focus:ring-0 focus:border-purple-600 hover:ring-1 hover:ring-purple-600"
          type="password"
          placeholder="Password"
          name="password"
          autocomplete="off"
        />
      </div>

      <div class="flex items-center justify-end py-3 mr-6">
        <a class="text-xs text-purple-600 hover:text-purple-700" href="{% url 'accounts:password_reset' %}"
          >Forgot password?</a
        >
      </div>

      <div class="flex items-center justify-center py-3 mx-6">
        <button type="submit" class="w-full p-2 font-medium text-white bg-purple-600 rounded-lg hover:bg-purple-700">
          Login
        </button>
      </div>
    </form>

    <div class="flex items-center justify-center py-3 text-xs">
      <p class="">
        Don't have an accout?
        <a
          id="registerBtn"
          class="text-purple-600 hover:text-purple-700"
          href="{% url 'accounts:register' %}"
          >Register here</a
        >
      </p>
    </div>
  </div>
</div>
{% endblock %}
