{% extends 'base.html' %} 

{% block content %}
<div class="max-w-[80%] container">

  <h2 class="mt-5 text-xl text-gray-800">
    Confirm Password Reset
  </h2>

  <div class="flex p-2 mt-10 text-gray-700 border border-purple-300 rounded-sm shadow-md">

    <svg xmlns="http://www.w3.org/2000/svg" 
         class="hidden w-12 h-12 md:block" 
         fill="none" 
         viewBox="0 0 24 24" 
         stroke="currentColor"
    >
      <path stroke-linecap="round" 
            stroke-linejoin="round" 
            stroke-width="2" 
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      />
      
    </svg>
    
    <ul class="ml-5 list-disc">
      <li>Your password can't be too similar to your other personal information.</li>
      <li>Your password must contain at least 8 characters.</li>
      <li>Your password can't be a commonly used password.</li>
      <li>Your password can't be entirely numeric.</li>
    </ul>
   
  </div>
  
  <form class="max-w-md px-2 py-3 mx-auto mt-5 rounded-md shadow-md" method="post">

    {% csrf_token %}
    
    {% if form.errors %}
    <div class="mb-2 text-xs text-red-600">
      <p>{{form.new_password2.errors}}</p>
    </div>
    {% endif %}
    

    <div>
      <label for="id_new_password1">New password</label>
      <input class="w-full mt-1 text-sm rounded-lg focus:ring-0 focus:border-purple-600 hover:ring-1 hover:ring-purple-600"
            type="password" 
            name="new_password1" 
            autocomplete="new-password" 
            required="" 
            id="id_new_password1"
      >
    </div>
           
    <div class="mt-2">
      <label for="id_new_password2">New password confirmation</label>
      <input class="w-full mt-1 text-sm rounded-lg focus:ring-0 focus:border-purple-600 hover:ring-1 hover:ring-purple-600"
            type="password"
            name="new_password2"
            autocomplete="new-password"
            required="" 
            id="id_new_password2"
      >
    </div>

    <button type="submit" 
            class="px-3 py-2 mt-5 text-white bg-purple-600 rounded-md hover:bg-purple-700"
    >
    
      Submit

    </button>
    
  </form>

</div>

 
{% endblock %}
