{% extends 'base.html' %} {% block content %}
<div class="container w-[80%] mt-10">
  <h3>Password Reset</h3>
  <p>
    Forgotten your password? Enter your email address below, and we'll email
    instructions for setting a new one.
  </p>

  <div class="">
    <form method="post" class="flex flex-col space-y-3">
      {% csrf_token %} {{ password_form }}

      <input
        class="text-white bg-black rounded-md p-2 text-sm"
        type="submit"
        value="Reset my password"
      />
    </form>
  </div>
</div>
{% endblock content %}
