{% extends 'base.html' %}

{% block content %}

<div class="container w-[80%] mt-10 text-gray-800">

  <h3 class="mb-3 text-xl">Password Reset</h3>

  <p>
    Forgotten your password? Enter your email address below, and we'll email
    instructions for setting a new one.
  </p>

  <div>
    
    <form class="max-w-md px-2 py-3 mx-auto my-5 rounded-md shadow-md" method="post">
      
      {% csrf_token %}
      
      <label class="" for="id_email">

        Email

      </label>
      
      <input class="w-full mt-1 text-sm rounded-lg focus:ring-0 focus:border-purple-600 hover:ring-1 hover:ring-purple-600"
             type="email" 
             name="email" 
             autocomplete="email" 
             maxlength="254" 
             required="" 
             id="id_email"
      >

      <button type="submit" 
              class="px-3 py-2 mt-5 text-white bg-purple-600 rounded-md hover:bg-purple-700"
      >
              
        Submit
      
      </button>
    
    </form>

  </div>
  
</div>
{% endblock content %}
