{% extends 'base.html' %} {%block content%}
<div class="container max-w-[80%] md:max-w-[60%] lg:max-w-[40%] my-10">
  <div id="registerForm" class="text-gray-800 bg-white rounded-md shadow-md">
    <div class="py-5 ml-6 text-2xl font-semibold">
      <h2>Create Account</h2>
    </div>
    <form action="{% url 'accounts:register' %}" method="post">
      {% csrf_token %}
      <div class="flex items-center ml-6">
        <label class="block " for="text">Username</label>
      </div>
      {% if form.username.errors %}
      <div id="username-error" class="pb-2 mx-6 mt-2 text-xs text-red-700">
        {{form.username.errors}}
      </div>
      {% else %}
      <div id="username-error" class="pb-2 mx-6 mt-2 text-xs text-green-600"></div>
      {% endif %}
      <div class="flex items-center justify-center">
        <input
          class="w-full mx-6 text-sm rounded-lg focus:ring-0 focus:border-purple-600 hover:ring-1 hover:ring-purple-600"
          type="text"
          placeholder="Username"
          name="username"
          hx-post="{% url 'accounts:check_username' %}"
          hx-trigger="keyup changed delay:500ms"
          hx-target="#username-error"
          hx-swap="outerHTML"
        />
      </div>
      <div class="flex items-center mt-3 ml-6">
        <label class="block " for="text">Email Address</label>
      </div>
      {% if form.email.errors %}
      <div id="invalid-email" class="pb-2 mx-6 mt-2 text-xs text-red-700">
        {{form.email.errors}}
      </div>
      {% else %}
      <div id="invalid-email" class="pb-2 mx-6 mt-2 text-xs text-green-600">
      </div>
      {% endif %}
      <div class="flex items-center justify-center">
        <input
          class="w-full mx-6 text-sm rounded-lg focus:ring-0 focus:border-purple-600 hover:ring-1 hover:ring-purple-600"
          type="text"
          placeholder="Email Address"
          name="email"
          hx-post="{% url 'accounts:check_email' %}"
          hx-trigger="keyup changed delay:500ms"
          hx-target="#invalid-email"
          hx-swap="outerHTML"
        />
      </div>
      <div class="flex items-center mt-3 ml-6">
        <label class="block " for="text">Password</label>
      </div>
      {% if form.password1.errors %}
      <div class="pb-2 mx-6 mt-2 text-xs text-red-700">
        {{form.password1.errors}}
      </div>
      {% else %}
      <div class="pb-2 mx-6 mt-2 text-xs"></div>
      {% endif %}
      <div class="flex items-center justify-center">
        <input
          class="w-full mx-6 text-sm rounded-lg focus:ring-0 focus:border-purple-600 hover:ring-1 hover:ring-purple-600"
          type="password"
          placeholder="Password"
          name="password1"
        />
      </div>
      <div class="mt-3 ml-6">
        <label class="block " for="text">Retype Password</label>
      </div>
      {% if form.password2.errors %}
      <div class="pb-2 mx-6 mt-2 text-xs text-red-700">
        {{form.password2.errors}}
      </div>
      {% else %}
      <div class="pb-2 mx-6 mt-2 text-xs"></div>
      {% endif %}
      <div class="flex items-center justify-center">
        <input
          class="w-full mx-6 text-sm rounded-lg focus:ring-0 focus:border-purple-600 hover:ring-1 hover:ring-purple-600"
          type="password"
          placeholder="Retype Password"
          name="password2"
        />
      </div>

      <div class="flex items-center justify-center mx-6 mt-5">
        <button type="submit" class="w-full p-2 font-medium text-white bg-purple-600 rounded-lg hover:bg-purple-700">
          Register
        </button>
      </div>
    </form>

    <div class="flex items-center justify-center py-3 text-xs">
      <p class="">
        Already have an account?
        <a id="signBtn" class="text-purple-600 hover:text-purple-700" href="{% url 'accounts:login' %}"
          >Sign In</a
        >
      </p>
    </div>
  </div>
</div>
{%endblock%}
