{% extends 'base.html' %}

{% block content %}
  <h2 class="mb-10">About us</h2>

  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit iusto,
      repellendus quasi error, sequi aut, similique enim fugiat delectus
      consequuntur eum assumenda accusantium molestiae architecto dignissimos
      fugit itaque magni amet. Maxime est omnis voluptas quod porro, aliquid
      quas quasi ipsum? Possimus eligendi blanditiis nam facilis aspernatur vel
      ab tempora asperiores!
    </p>
  </div>
</div>
{% endblock content %}