{% extends 'base.html' %}

{% block content %}

  <div class="max-w-[80%] container">

    <div class="p-2 mt-5 text-gray-700 border border-purple-300 rounded-sm shadow-md">
      <p class="text-purple-600">
        Please edit your profile
      </p>
    </div>

    <h2 class="mb-5 text-2xl font-semibold text-gray-800 mt-7">

      My Profile
      
    </h2>

    <div id="edit-profile" class="mx-auto space-y-3 text-lg font-semibold text-gray-800">
      
      <p>
        Firstname: <span class="font-normal">
          {% if request.user.first_name == '' %}None
          {% else %}
          {{request.user.first_name}}
          {% endif %}
        </span>
      </p>

      <p>
        Lastname: <span class="font-normal">
          {% if request.user.first_name == '' %}None
          {% else %}
          {{request.user.last_name}}
          {% endif %}
          </span>
      </p>

      <p>
        Email: <span class="font-normal">{{request.user.email}}</span>
      </p>

      <p>
        Address: <span class="font-normal">{{request.user.profile.address}}</span>
      </p>

      <p>
        Cellphone number: <span class="font-normal">{{request.user.profile.cellphone_number}}</span>
      </p>

      <p>
        Gender: <span class="font-normal">{{request.user.profile.gender}}</span>
      </p>

      <div>

        <p>Avatar:</p>

        <div class="w-12 h-12 overflow-hidden rounded-full">

          <a href="{% if request.user.profile.avatar.url is not null %}
          {{request.user.profile.avatar.url}}
          {% else %}
          https://res.cloudinary.com/derqjgcyg/image/upload/v1645411542/media/avatar/default_rvyiey.jpg
          {% endif %}">
          
            <img class="object-cover w-full h-full"
            src="{% if request.user.profile.avatar.url is not null %}
            {{request.user.profile.avatar.url}}
            {% else %}
            https://res.cloudinary.com/derqjgcyg/image/upload/v1645411542/media/avatar/default_rvyiey.jpg
            {% endif %}" alt="avatar">
        
          </a>
          
        </div>
        
      </div>
        
      <button hx-get="{% url 'accounts:edit_profile' %}"
              hx-trigger="click"
              hx-swap="outerHTML"
              hx-target="#edit-profile"
              class="block px-3 py-2 text-white bg-purple-600 rounded-sm hover:bg-purple-700"
      >
      
        Edit
       
      </button>
    
    </div>
 
  </div>
  
{% endblock %}