{% extends 'base.html' %}

{% block content %}

  <div class="container max-w-[80%] mt-5 text-gray-800">

    <h1 class="text-2xl">

        Recent Order

    </h1>
    <h2 class="mt-2 font-semibold text-purple-600">

      Order Date: <span>{{recent_order.created_at}}</span>

    </h2>

    <div class="p-2 my-3 overflow-auto text-gray-700 border-2 border-purple-300 border-dashed rounded-sm shadow-md">
      
      <div>
        
        <p>Name: <span>{{request.user.first_name}} {{request.user.last_name}}</span></p>
      
      </div>
      
      <div>
        
        <p>Address: <span>{{request.user.profile.address}}</span></p>
      
      </div>
      
      <div>
        
        <p>Cellphone number: <span>{{request.user.profile.cellphone_number}}</span></p>
      
      </div>
      
      <div>
      
        <p>Email Address: <span>{{request.user.email}}</span></p>
      
      </div>
      
    </div>

    <p class="text-xl">Total: $<span class="text-purple-600 ">{{total}}</span></p>

    {% for book in list_of_books %}
      
      <div class="flex items-center my-2 space-x-2 shadow-md">
        
        <div class="flex-none w-20 h-20 overflow-hidden border border-gray-300 rounded-md">
          
          <img class="object-cover w-full h-full"
              src="{{book.img.url}}" 
              alt="{{book.title}}">
        
        </div>
        
        <p class="text-clip line-clamp-1">{{book.title}}</p>
      
      </div>
        
    {% endfor %}

    <p class="text-xl">Total: $<span class="text-purple-600 ">{{total}}</span></p>

  </div>
    
{% endblock %}