<!--bottom-->
<div class="flex justify-center items-start gap-3">
  <div>
    <a href="" class="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"
        />
      </svg>
    </a>
  </div>
  <div class="font-bold">{{ page_obj }}</div>
  <!-- <div class="text-xs">{{ page_obj }}</div>
  <div class="text-xs">has previous: {{ page_obj.has_previous }}</div>
  <div class="text-xs">has next: {{ page_obj.has_next }}</div>
  <div class="text-xs">current page: {{ page_obj.number }}</div>
  <div class="text-xs">number of pages: {{ page_obj.paginator.num_pages }}</div> -->
  <!-- <div class="text-xs"><a href="?page=1">go to page 1</a></div>
  {% if page_obj.has_previous %}
  <div class="text-xs">
    <a href="?page={{ page_obj.previous_page_number }}">prev</a>
  </div>
  {% endif %}
  <div class="text-xs">
    <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
  </div>
  {% if page_obj.has_next %}
  <div class="text-xs">
    <a href="?page={{ page_obj.next_page_number }}">next</a>
  </div>
  {% endif %} -->
  <div>
    <a href="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        />
      </svg>
    </a>
  </div>
</div>
