<!--bottom-->

<div class="flex items-start justify-center gap-3 text-xs">
  {% if page_obj.has_previous %}

  <a
    class="px-2 py-1 text-center text-gray-600 border border-purple-600 rounded hover:bg-purple-700 hover:text-white"
    href="?page=1"
  >
    <span class="font-bold">&laquo;</span> <span class="hidden md:inline">First</span>
  </a>

  <a
    class="px-2 py-1 text-center text-gray-600 border border-purple-600 rounded hover:bg-purple-700 hover:text-white"
    href="?page={{ page_obj.previous_page_number }}"
  >
  <span class="font-bold">&lsaquo;</span> <span class="hidden md:inline">Previous</span>
  </a>

  {% endif %}
   
  {% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}

  <a
    class="px-2 py-1 text-center text-white bg-purple-600 border border-purple-600 rounded hover:bg-purple-700 hover:text-white"
    href="?page={{ num }}"
  >
    {{ num }}
  </a>

  {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}

  <a
    class="px-2 py-1 text-center text-gray-600 border border-purple-600 rounded hover:bg-purple-700 hover:text-white"
    href="?page={{ num }}"
  >
    {{ num }}
  </a>

  {% endif %}
  {% endfor %} 
  {% if page_obj.has_next %}

  <a
    class="px-2 py-1 text-center text-gray-600 border border-purple-600 rounded hover:bg-purple-700 hover:text-white"
    href="?page={{ page_obj.next_page_number }}"
  >
  <span class="hidden md:inline">Next</span> <span class="font-bold">&rsaquo;</span>
  </a>

  <a
    class="px-2 py-1 text-center text-gray-600 border border-purple-600 rounded hover:bg-purple-700 hover:text-white"
    href="?page={{ page_obj.paginator.num_pages }}"
  >
  <span class="hidden md:inline">Last</span> <span class="font-bold">&raquo;</span>
  </a>

  {% endif %}
</div>
