<!--bottom-->

<div class="flex items-start justify-center gap-3">
  {% if page_obj.has_previous %}
    <a class="px-2 py-1 text-center text-gray-600 border border-purple-600 rounded hover:bg-purple-700 hover:text-white" href="?page=1">&laquo; First</a>
    <a
      class="px-2 py-1 text-center text-gray-600 border border-purple-600 rounded hover:bg-purple-700 hover:text-white"
      href="?page={{ page_obj.previous_page_number }}"
    >&lsaquo; Previous</a>
  {% endif %} 
  {% for num in page_obj.paginator.page_range %} 
    {% if page_obj.number == num %}
      <a class="px-2 py-1 text-center text-white bg-purple-600 border border-purple-600 rounded hover:bg-purple-700 hover:text-white" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="px-2 py-1 text-center text-gray-600 border border-purple-600 rounded hover:bg-purple-700 hover:text-white" href="?page={{ num }}">{{ num }}</a>
    {% endif %} 
  {% endfor %} 
  {% if page_obj.has_next %}
    <a
      class="px-2 py-1 text-center text-gray-600 border border-purple-600 rounded hover:bg-purple-700 hover:text-white"
      href="?page={{ page_obj.next_page_number }}"
    >Next &rsaquo;</a>
  <a
    class="px-2 py-1 text-center text-gray-600 border border-purple-600 rounded hover:bg-purple-700 hover:text-white"
    href="?page={{ page_obj.paginator.num_pages }}"
    >Last &raquo;</a>
  {% endif %}
</div>
