<div class="flex flex-col ml-3 sm:ml-0">
  <h2 class="font-semibold text-xl sm:text-2xl md:text-3xl lg:text-5xl">
    Never stop learning
  </h2>
  <h2 class="font-semibold text-xl sm:text-2xl md:text-3xl lg:text-5xl lg:mt-4">
    Order your books
  </h2>
  {% if not user.is_authenticated %}
  <div class="mt-2">
    <button
      id="joinBtn"
      class="flex items-center justify-center bg-black text-white p-2 rounded-sm shadow-md font-medium text-lg lg:text-2xl lg:mt-4"
    >
      Join now
    </button>
  </div>
  {% endif %}
</div>
