<!--usernav dropown-->
<div x-show="isOpen" x-cloak class="overflow-hidden font-medium text-gray-800 bg-white rounded w-36">

  <!--hidden button to close the dropdown-->
  <button
    class="fixed inset-0 w-full h-full bg-gray-500 opacity-50 cursor-default -z-30"
    x-on:click="overFlow=!overFlow, isOpen=!isOpen"
  >
  </button>

  <!--navigation-->
  <ul class="flex flex-col items-center gap-2 cursor-pointer">

    <a class="w-full"href="{% url 'accounts:profile' %}">

      <li class="py-2 text-center hover:bg-purple-600 hover:text-white">My Profile</li>
      
    </a>

    <a class="w-full md:hidden"href="{% url 'mybooksite:about_us' %}">

      <li class="py-2 text-center hover:bg-purple-600 hover:text-white">About us</li>
      
    </a>


    <a class="w-full" href="{% url 'carts:cart' %}">

      <li class="flex justify-center py-2 text-center hover:bg-purple-600 hover:text-white">

        Cart

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
          />
        </svg>

        <span class="flex items-center justify-center w-4 h-4 text-xs font-semibold text-white bg-purple-600 rounded-full" x-text="xcount"></span> 

      </li>
      
    </a>

    <a class="w-full" href="{% url 'carts:orders' %}">

      <li class="w-full py-2 text-center hover:bg-purple-600 hover:text-white">

        See Orders
        
      </li>


    </a>

    <a
    class="w-full"
    hx-boost="true"
    hx-confirm="Are you sure you want to logout?"
    href="{% url 'accounts:logout' %}"
    >

      <li class="w-full py-2 text-center hover:bg-purple-600 hover:text-white">

        Logout

      </li>

    </a>

  </ul>
  
</div>
