<!--usernav dropown-->
<div x-show="isOpen" x-cloak>
  <button
    class="bg-gray-500 fixed inset-0 w-full h-full opacity-50 z-10 cursor-default"
  ></button>
  <div
    class="w-28 h-36 absolute bg-black right-0 top-11 z-20 rounded-md text-white pl-4"
  >
    <ul class="flex flex-col gap-2">
      <li>{{user.username|title}}</li>

      <li class="flex">
        Cart<svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
          />
        </svg>
        {{ count }}
      </li>

      <li>
        <a
          hx-boost="true"
          hx-confirm="Are you sure you want to logout?"
          href="{% url 'accounts:logout' %}"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</div>
